In [1]:
import pandas as pd
import numpy as np

In [29]:
xl = pd.ExcelFile('C:/Users/User/Documents/GitHub/AnotherTown/Data/Health/2020 County Health Rankings Data.xlsx')

In [31]:
sh1 = pd.read_excel(xl, sheet_name='Ranked Measure Data', skiprows=[0], 
                    usecols=['FIPS','State','County',
                             '% Fair or Poor Health',
                             'Average Number of Mentally Unhealthy Days',
                             '% Low Birthweight',
                             '% Adults with Obesity',
                             'Food Environment Index',
                             '% With Access to Exercise Opportunities',
                             'Teen Birth Rate',
                             '% Uninsured',
                             '% Unemployed',
                             '% Physically Inactive',
                             'Income Ratio',
                             'Average Number of Physically Unhealthy Days',
                             'Violent Crime Rate',
                             'Average Daily PM2.5',
                             '% Severe Housing Problems',
                             '% Long Commute - Drives Alone', 
                             '% Excessive Drinking',
                            'High School Graduation Rate',
                            'Social Association Rate'])

In [35]:
sh1 = sh1.drop(sh1[sh1['County'].isna()].index, axis=0)
sh1['% With Access to Exercise Opportunities'] = [i * -1 for i in sh1['% With Access to Exercise Opportunities']]
sh1['Food Environment Index'] = [ i * -1 for i in sh1['Food Environment Index']]

In [36]:
for col in sh1.columns[3:]:
    sh1[col] = pd.qcut(sh1[col], 10, labels=[i for i in range(1,11)])

In [37]:
sh1

,FIPS,State,County,% Fair or Poor Health,Average Number of Physically Unhealthy Days,Average Number of Mentally Unhealthy Days,% Low Birthweight,% Adults with Obesity,Food Environment Index,% Physically Inactive,...,Teen Birth Rate,% Uninsured,High School Graduation Rate,% Unemployed,Income Ratio,Social Association Rate,Violent Crime Rate,Average Daily PM2.5,% Severe Housing Problems,% Long Commute - Drives Alone
1,1001,Alabama,Autauga,8,9,8,7,6,7,9,...,5,4,6,5,9,6,7,10,7,8
2,1003,Alabama,Baldwin,6,7,6,7,4,4,5,...,5,6,4,5,6,5,5,8,6,8
3,1005,Alabama,Barbour,10,10,10,10,10,10,3,...,8,7,2,9,10,3,9,10,7,6
4,1007,Alabama,Bibb,7,9,8,9,9,5,9,...,9,5,2,6,5,3,2,9,3,10
5,1009,Alabama,Blount,8,9,9,5,6,2,8,...,7,7,8,4,6,3,9,10,3,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Wyoming,Sweetwater,3,3,2,9,3,5,4,...,6,8,2,7,3,5,7,1,2,2
3189,56039,Wyoming,Teton,1,1,1,5,1,3,1,...,1,9,4,3,2,9,NaN,1,9,1
3190,56041,Wyoming,Uinta,4,4,3,9,7,6,5,...,6,8,3,7,5,1,2,1,3,2
3191,56043,Wyoming,Washakie,4,4,3,4,3,2,6,...,5,9,3,7,1,9,2,1,2,1
3192,56045,Wyoming,Weston,3,3,3,3,6,4,5,...,5,7,6,4,9,7,4,1,6,4

In [39]:
sh1['Average'] = [np.mean(list(row[1].dropna())[3:]) for row in sh1.iterrows()]
sh1.sort_values(by=['Average'])

,FIPS,State,County,% Fair or Poor Health,Average Number of Physically Unhealthy Days,Average Number of Mentally Unhealthy Days,% Low Birthweight,% Adults with Obesity,Food Environment Index,% Physically Inactive,...,% Uninsured,High School Graduation Rate,% Unemployed,Income Ratio,Social Association Rate,Violent Crime Rate,Average Daily PM2.5,% Severe Housing Problems,% Long Commute - Drives Alone,Average
290,8079,Colorado,Mineral,1,2,3,NaN,1,2,1,...,5,NaN,1,1,1,4,1,3,1,2.000000
1392,27109,Minnesota,Olmsted,1,1,1,1,2,1,1,...,1,3,1,4,6,4,3,3,1,2.315789
2836,49029,Utah,Morgan,1,1,2,4,1,1,1,...,3,8,2,1,1,NaN,2,2,9,2.388889
1419,27163,Minnesota,Washington,1,1,1,2,1,1,1,...,1,6,1,1,3,2,4,2,8,2.473684
1407,27139,Minnesota,Scott,1,1,1,2,3,1,1,...,1,4,1,2,2,2,3,2,8,2.526316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,13061,Georgia,Clay,10,10,10,10,8,10,10,...,8,NaN,10,10,5,5,8,9,9,8.333333
1485,28119,Mississippi,Quitman,10,10,10,10,10,10,10,...,9,2,10,10,4,NaN,7,8,9,8.333333
43,1085,Alabama,Lowndes,10,10,10,10,10,10,9,...,6,6,10,10,2,10,9,10,10,8.421053
1543,29069,Missouri,Dunklin,10,10,10,10,10,9,10,...,7,7,9,9,9,10,9,8,5,8.421053
1458,28065,Mississippi,Jefferson Davis,10,10,10,10,10,10,10,...,9,2,10,10,7,NaN,6,10,10,8.555556

In [40]:
sh2 = pd.read_excel(xl, sheet_name='Additional Measure Data', skiprows=[0], 
                    usecols=['FIPS','State','County','Population',
                             '% less than 18 years of age', 
                             '% 65 and over',
                             '% Black',
                             '% Asian',
                             '% Hispanic',
                             '% Non-Hispanic White',
                             '% Not Proficient in English',
                            'Life Expectancy',
                            'Age-Adjusted Death Rate',
                            '% Adults with Diabetes',
                            '% Food Insecure',
                            '% Limited Access to Healthy Foods',
                            'Drug Overdose Mortality Rate',
                            '% Insufficient Sleep',
                            'Average Reading Grade Performance',
                            'Average Math Grade Performance',
                            'Median Household Income',
                            'Black Segregation index',
                            'White Segregation Index',
                            'Homicide Rate',
                            'Suicide Rate (Age-Adjusted)',
                             'Firearm Fatalities Rate',
                             'Average Traffic Volume per Meter of Major Roadways',
                             '% Homeowners',
                             '% Enrolled in Free or Reduced Lunch',
                             '% Disconnected Youth',
                            ])

In [41]:
sh2 = sh2.drop(sh2[sh2['County'].isna()].index, axis=0)

In [42]:
invert_cols = ['Life Expectancy','Average Reading Grade Performance',
 'Average Math Grade Performance','Median Household Income','% Homeowners',]
excluded_cols = ['FIPS','State','County','Population',
                 '% less than 18 years of age', '% 65 and over',
                '% Black','% Asian','% Hispanic','% Non-Hispanic White']
zero_na_cols = ['Infant Mortality Rate',
                'Drug Overdose Mortality Rate',
                'Homicide Rate',
                'Suicide Rate (Age-Adjusted)',
                'Firearm Fatalities Rate',]

for col in invert_cols:
    sh2[col] = [i * -1 for i in sh2[col]]  
# for col in zero_na_cols:
#     sh2[col] = sh2[col].fillna(0)

In [43]:
for col in sh2.columns[3:]:
    sh2[col] = pd.qcut(sh2[col], 10, labels=[i for i in range(1,11)], )

In [44]:
sh2['Average'] = [np.mean( list(row[1].dropna())) for row in sh2.drop(excluded_cols, axis=1).iterrows() ]
sh2.sort_values(by=['Average'])

,FIPS,State,County,Life Expectancy,Age-Adjusted Death Rate,% Adults with Diabetes,% Food Insecure,% Limited Access to Healthy Foods,Drug Overdose Mortality Rate,% Insufficient Sleep,...,% Homeowners,Population,% less than 18 years of age,% 65 and over,% Black,% Asian,% Hispanic,% Non-Hispanic White,% Not Proficient in English,Average
274,8047,Colorado,Gilpin,1,1,1,1,1,NaN,1,...,1,2,1,4,4,8,7,6,3,1.272727
2836,49029,Utah,Morgan,2,1,1,2,1,NaN,1,...,1,3,10,1,1,5,4,9,4,1.461538
3127,55061,Wisconsin,Kewaunee,1,2,2,1,1,NaN,3,...,2,5,5,7,2,3,4,9,6,1.933333
1347,27019,Minnesota,Carver,1,1,1,1,2,1,2,...,1,9,10,1,5,10,5,7,5,2.052632
1398,27121,Minnesota,Pope,1,1,3,1,3,NaN,1,...,2,3,4,9,1,5,1,10,2,2.071429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1149,22035,Louisiana,East Carroll,10,10,7,10,8,NaN,10,...,10,2,9,2,10,4,3,1,2,8.812500
1467,28083,Mississippi,Leflore,10,10,8,10,10,NaN,10,...,10,6,10,2,10,4,4,1,6,8.833333
1626,30003,Montana,Big Horn,10,10,8,10,10,NaN,5,...,10,3,10,1,1,4,7,1,6,8.833333
44,1087,Alabama,Macon,10,10,10,10,10,NaN,10,...,9,4,1,7,10,4,2,1,1,8.833333
1164,22065,Louisiana,Madison,10,10,10,10,4,NaN,10,...,10,3,8,2,10,1,3,1,3,9.000000

In [45]:
sh2.to_csv('C:/Users/User/Documents/GitHub/AnotherTown/Data/Cleaned/Intermediate/Health_Rank_2.csv')
sh1.to_csv('C:/Users/User/Documents/GitHub/AnotherTown/Data/Cleaned/Intermediate/Health_Rank_1.csv')