In [1]:
import pandas as pd
import numpy as np

In [2]:
xl = pd.ExcelFile('C:/Users/User/Documents/GitHub/AnotherTown/Data/Health/2020 County Health Rankings Data.xlsx')

In [18]:
sh1 = pd.read_excel(xl, sheet_name='Ranked Measure Data', skiprows=[0], 
                    usecols=['FIPS','State','County',
                             '% Fair or Poor Health',
                             'Average Number of Mentally Unhealthy Days',
                             '% Low Birthweight',
                             '% Adults with Obesity',
                             'Food Environment Index',
                             '% With Access to Exercise Opportunities',
                             'Teen Birth Rate',
                             '% Uninsured',
                             '% Unemployed',
                             'Income Ratio',
                             'Average Number of Physically Unhealthy Days',
                             'Violent Crime Rate',
                             'Average Daily PM2.5',
                             '% Severe Housing Problems',
                             '% Long Commute - Drives Alone', 
                             '% Excessive Drinking',
                            'High School Graduation Rate',
                            'Social Association Rate'])

In [19]:
xl.sheet_names

['Introduction',
 'Outcomes & Factors Rankings',
 'Outcomes & Factors SubRankings',
 'Ranked Measure Data',
 'Ranked Measure Sources & Years',
 'Additional Measure Data',
 'Addtl Measure Sources & Years']

In [20]:
print([col for col in sh1.columns])

['FIPS', 'State', 'County', '% Fair or Poor Health', 'Average Number of Physically Unhealthy Days', 'Average Number of Mentally Unhealthy Days', '% Low Birthweight', '% Adults with Obesity', 'Food Environment Index', '% With Access to Exercise Opportunities', '% Excessive Drinking', 'Teen Birth Rate', '% Uninsured', 'High School Graduation Rate', '% Unemployed', 'Income Ratio', 'Social Association Rate', 'Violent Crime Rate', 'Average Daily PM2.5', '% Severe Housing Problems', '% Long Commute - Drives Alone']

In [21]:
sh1

,FIPS,State,County,% Fair or Poor Health,Average Number of Physically Unhealthy Days,Average Number of Mentally Unhealthy Days,% Low Birthweight,% Adults with Obesity,Food Environment Index,% With Access to Exercise Opportunities,...,Teen Birth Rate,% Uninsured,High School Graduation Rate,% Unemployed,Income Ratio,Social Association Rate,Violent Crime Rate,Average Daily PM2.5,% Severe Housing Problems,% Long Commute - Drives Alone
0,1000,Alabama,NaN,22.028703,4.918052,4.939753,10.254871,35.5,5.8,61.112287,...,30.894616,11.044783,89.300000,3.933567,5.261136,12.371924,479.919182,11.0,14.340702,34.3
1,1001,Alabama,Autauga,20.882987,4.743889,4.654031,8.619529,33.3,7.2,69.130124,...,25.284927,8.721686,90.000000,3.629079,5.234597,12.071202,272.282220,11.7,14.663462,39.6
2,1003,Alabama,Baldwin,17.509134,4.224519,4.304056,8.345003,31.0,8.0,73.713549,...,27.880692,11.333404,86.361577,3.615382,4.417767,10.205617,203.660396,10.3,13.566201,41.7
3,1005,Alabama,Barbour,29.591802,5.430279,5.185594,11.474559,41.7,5.6,53.166770,...,40.870815,12.242792,81.410256,5.171384,5.681410,7.518797,414.277861,11.5,14.583333,32.2
4,1007,Alabama,Bibb,19.439724,4.591482,4.551699,10.308710,37.6,7.8,16.251364,...,41.696794,10.206253,83.763838,3.971828,4.368581,8.381860,89.349126,11.2,10.496454,49.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Wyoming,Sweetwater,14.813082,3.402029,3.623554,9.705248,29.8,7.7,89.686344,...,31.293325,14.464995,80.500000,4.236407,3.975923,10.336748,300.494146,5.1,9.857877,18.1
3189,56039,Wyoming,Teton,11.914358,3.031233,3.180613,7.736721,12.4,8.2,99.718230,...,10.462075,16.034517,87.765957,3.024772,3.775274,16.333548,NaN,4.9,16.967930,14.4
3190,56041,Wyoming,Uinta,15.537464,3.628488,3.669805,10.110206,35.8,7.4,84.018373,...,30.632411,13.664737,84.687500,4.366812,4.350061,2.927543,71.006517,5.9,11.440108,19.1
3191,56043,Wyoming,Washakie,15.955971,3.613308,3.682514,7.028754,28.8,8.3,83.182937,...,25.229358,16.730280,84.536082,4.238541,3.327463,16.121032,78.266105,4.8,10.014306,6.9
3192,56045,Wyoming,Weston,13.934025,3.463619,3.660440,6.589147,33.3,7.9,63.027192,...,25.723473,13.370998,90.476190,3.511123,5.145672,12.992638,157.128680,4.1,14.194577,24.1

In [22]:
sh1 = sh1.drop(sh1[sh1['County'].isna()].index, axis=0)
sh1['% With Access to Exercise Opportunities'] = [i * -1 for i in sh1['% With Access to Exercise Opportunities']]
sh1['Food Environment Index'] = [ i * -1 for i in sh1['Food Environment Index']]

In [23]:
for col in sh1.columns[3:]:
    sh1[col] = pd.qcut(sh1[col], 10, labels=[i for i in range(1,11)])

In [24]:
sh1

,FIPS,State,County,% Fair or Poor Health,Average Number of Physically Unhealthy Days,Average Number of Mentally Unhealthy Days,% Low Birthweight,% Adults with Obesity,Food Environment Index,% With Access to Exercise Opportunities,...,Teen Birth Rate,% Uninsured,High School Graduation Rate,% Unemployed,Income Ratio,Social Association Rate,Violent Crime Rate,Average Daily PM2.5,% Severe Housing Problems,% Long Commute - Drives Alone
1,1001,Alabama,Autauga,8,9,8,7,6,7,5,...,5,4,6,5,9,6,7,10,7,8
2,1003,Alabama,Baldwin,6,7,6,7,4,4,4,...,5,6,4,5,6,5,5,8,6,8
3,1005,Alabama,Barbour,10,10,10,10,10,10,7,...,8,7,2,9,10,3,9,10,7,6
4,1007,Alabama,Bibb,7,9,8,9,9,5,10,...,9,5,2,6,5,3,2,9,3,10
5,1009,Alabama,Blount,8,9,9,5,6,2,10,...,7,7,8,4,6,3,9,10,3,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Wyoming,Sweetwater,3,3,2,9,3,5,2,...,6,8,2,7,3,5,7,1,2,2
3189,56039,Wyoming,Teton,1,1,1,5,1,3,1,...,1,9,4,3,2,9,NaN,1,9,1
3190,56041,Wyoming,Uinta,4,4,3,9,7,6,2,...,6,8,3,7,5,1,2,1,3,2
3191,56043,Wyoming,Washakie,4,4,3,4,3,2,3,...,5,9,3,7,1,9,2,1,2,1
3192,56045,Wyoming,Weston,3,3,3,3,6,4,6,...,5,7,6,4,9,7,4,1,6,4

In [25]:
sh1[sh1['County'] == 'Los Angeles']

,FIPS,State,County,% Fair or Poor Health,Average Number of Physically Unhealthy Days,Average Number of Mentally Unhealthy Days,% Low Birthweight,% Adults with Obesity,Food Environment Index,% With Access to Exercise Opportunities,...,Teen Birth Rate,% Uninsured,High School Graduation Rate,% Unemployed,Income Ratio,Social Association Rate,Violent Crime Rate,Average Daily PM2.5,% Severe Housing Problems,% Long Commute - Drives Alone
209,6037,California,Los Angeles,5,3,2,4,1,2,1,...,3,5,2,8,9,2,9,10,10,10

In [26]:
sh1['Average'] = [np.mean(list(row[1].dropna())[3:]) for row in sh1.iterrows()]
sh1.sort_values(by=['Average'])

,FIPS,State,County,% Fair or Poor Health,Average Number of Physically Unhealthy Days,Average Number of Mentally Unhealthy Days,% Low Birthweight,% Adults with Obesity,Food Environment Index,% With Access to Exercise Opportunities,...,% Uninsured,High School Graduation Rate,% Unemployed,Income Ratio,Social Association Rate,Violent Crime Rate,Average Daily PM2.5,% Severe Housing Problems,% Long Commute - Drives Alone,Average
290,8079,Colorado,Mineral,1,2,3,NaN,1,2,1,...,5,NaN,1,1,1,4,1,3,1,2.066667
1392,27109,Minnesota,Olmsted,1,1,1,1,2,1,2,...,1,3,1,4,6,4,3,3,1,2.388889
2836,49029,Utah,Morgan,1,1,2,4,1,1,2,...,3,8,2,1,1,NaN,2,2,9,2.470588
2461,46117,South Dakota,Stanley,1,1,1,1,2,1,2,...,5,9,2,1,1,4,1,1,1,2.555556
1419,27163,Minnesota,Washington,1,1,1,2,1,1,1,...,1,6,1,1,3,2,4,2,8,2.555556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1485,28119,Mississippi,Quitman,10,10,10,10,10,10,10,...,9,2,10,10,4,NaN,7,8,9,8.235294
427,13061,Georgia,Clay,10,10,10,10,8,10,10,...,8,NaN,10,10,5,5,8,9,9,8.235294
1543,29069,Missouri,Dunklin,10,10,10,10,10,9,5,...,7,7,9,9,9,10,9,8,5,8.333333
43,1085,Alabama,Lowndes,10,10,10,10,10,10,10,...,6,6,10,10,2,10,9,10,10,8.388889
1458,28065,Mississippi,Jefferson Davis,10,10,10,10,10,10,10,...,9,2,10,10,7,NaN,6,10,10,8.470588

In [12]:
sh2 = pd.read_excel(xl, sheet_name='Additional Measure Data', skiprows=[0], 
                    usecols=['FIPS','State','County','Population',
                             '% less than 18 years of age', 
                             '% 65 and over',
                             '% Black',
                             '% Asian',
                             '% Hispanic',
                             '% Non-Hispanic White',
                             '% Not Proficient in English',
                            'Life Expectancy',
                            'Age-Adjusted Death Rate',
                            '% Adults with Diabetes',
                            '% Food Insecure',
                            '% Limited Access to Healthy Foods',
                            'Drug Overdose Mortality Rate',
                            '% Insufficient Sleep',
                            'Average Reading Grade Performance',
                            'Average Math Grade Performance',
                            'Median Household Income',
                            'Black Segregation index',
                            'White Segregation Index',
                            'Homicide Rate',
                            'Suicide Rate (Age-Adjusted)',
                             'Firearm Fatalities Rate',
                             'Average Traffic Volume per Meter of Major Roadways',
                             '% Homeowners',
                             '% Enrolled in Free or Reduced Lunch',
                             '% Disconnected Youth',
                            ])

In [13]:
sh2 = sh2.drop(sh2[sh2['County'].isna()].index, axis=0)

In [14]:
invert_cols = ['Life Expectancy','Average Reading Grade Performance',
 'Average Math Grade Performance','Median Household Income','% Homeowners',]
excluded_cols = ['FIPS','State','County','Population',
                 '% less than 18 years of age', '% 65 and over',
                '% Black','% Asian','% Hispanic','% Non-Hispanic White']
zero_na_cols = ['Infant Mortality Rate',
                'Drug Overdose Mortality Rate',
                'Homicide Rate',
                'Suicide Rate (Age-Adjusted)',
                'Firearm Fatalities Rate',]

for col in invert_cols:
    sh2[col] = [i * -1 for i in sh2[col]]  
# for col in zero_na_cols:
#     sh2[col] = sh2[col].fillna(0)

In [15]:
for col in sh2.columns[3:]:
    sh2[col] = pd.qcut(sh2[col], 10, labels=[i for i in range(1,11)], )

In [16]:
sh2['Average'] = [np.mean( list(row[1].dropna())) for row in sh2.drop(excluded_cols, axis=1).iterrows() ]
sh2.sort_values(by=['Average'])

,FIPS,State,County,Life Expectancy,Age-Adjusted Death Rate,Infant Mortality Rate,% Adults with Diabetes,% Food Insecure,% Limited Access to Healthy Foods,Drug Overdose Mortality Rate,...,% Homeowners,Population,% less than 18 years of age,% 65 and over,% Black,% Asian,% Hispanic,% Non-Hispanic White,% Not Proficient in English,Average
274,8047,Colorado,Gilpin,1,1,NaN,1,1,1,NaN,...,1,2,1,4,4,8,7,6,3,1.272727
2836,49029,Utah,Morgan,2,1,NaN,1,2,1,NaN,...,1,3,10,1,1,5,4,9,4,1.461538
3127,55061,Wisconsin,Kewaunee,1,2,NaN,2,1,1,NaN,...,2,5,5,7,2,3,4,9,6,1.933333
1347,27019,Minnesota,Carver,1,1,1,1,1,2,1,...,1,9,10,1,5,10,5,7,5,2.000000
1398,27121,Minnesota,Pope,1,1,NaN,3,1,3,NaN,...,2,3,4,9,1,5,1,10,2,2.071429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44,1087,Alabama,Macon,10,10,NaN,10,10,10,NaN,...,9,4,1,7,10,4,2,1,1,8.833333
2454,46102,South Dakota,Oglala Lakota,10,10,10,10,10,10,NaN,...,10,4,10,1,1,1,5,1,7,8.833333
1626,30003,Montana,Big Horn,10,10,10,8,10,10,NaN,...,10,3,10,1,1,4,7,1,6,8.894737
1467,28083,Mississippi,Leflore,10,10,10,8,10,10,NaN,...,10,6,10,2,10,4,4,1,6,8.894737
1164,22065,Louisiana,Madison,10,10,NaN,10,10,4,NaN,...,10,3,8,2,10,1,3,1,3,9.000000

In [28]:
# sh2.to_csv('C:/Users/User/Documents/GitHub/AnotherTown/Data/Cleaned/Intermediate/Health_Rank_2.csv')
# sh1.to_csv('C:/Users/User/Documents/GitHub/AnotherTown/Data/Cleaned/Intermediate/Health_Rank_1.csv')