In [1]:
import pandas as pd
import numpy as np

In [16]:
health_full = pd.read_csv('C:/Users/User/Documents/GitHub/AnotherTown/Data/Cleaned/Health_Full.csv')

In [17]:
qol_cols = ['Average Number of Physically Unhealthy Days', 
            'Average Number of Mentally Unhealthy Days',
           '% Insufficient Sleep', 
            '% With Access to Exercise Opportunities']

pop_cols = ['% Fair or Poor Health', 
            '% Low Birthweight', 
            'Teen Birth Rate', 
            '% Uninsured', 
            'Life Expectancy',
           'Age-Adjusted Death Rate']

diet_cols = ['% Adults with Obesity', 
             'Food Environment Index', 
             '% Adults with Diabetes', 
            '% Food Insecure', 
             '% Limited Access to Healthy Foods']

In [18]:
qol_df = health_full[qol_cols]
pop_df = health_full[pop_cols]
diet_df= health_full[diet_cols]
dfs = [qol_df, pop_df, diet_df]

In [19]:
weights_raw = [[2,2,2,6],[15,5,5,8,15,6],[2,6,2,4,4]]
weights = [[i/sum(weights) for i in weights] for weights in weights_raw]
df_str = ['qol', 'pop', 'diet']
cat_weights = [.26,.37,.27]

def zero_weight(zero_idx, w):
    w = [0  if idx + 3 in zero_idx else weight for idx, weight in enumerate(w)]
    return np.divide(w, sum(w))
    
#re-weight if nan in row
for idx, df in enumerate(dfs):
    temp = []
    nans = pd.isna(df).any(axis=1)
    for i, row in df.iterrows():
        w = weights[idx]
        if nans[i]:
            w = zero_weight([c for c, i in enumerate(row) if c > 2 and not i >= 0], w)
        temp.append(sum(list((row * w).fillna(0))) * cat_weights[idx])

    health_full[df_str[idx] + '_avg'] = temp

In [20]:
health_full['health_raw'] = sum([health_full[col+ '_avg'] for col in df_str])

In [21]:
# health_full['health_raw'] =  qol.fillna(0) + pop.fillna(0) + diet.fillna(0)

NameError: name 'qol' is not defined

In [22]:
health_full.sort_values(by=['health_raw'])

,FIPS,State,County,% Fair or Poor Health,Average Number of Physically Unhealthy Days,Average Number of Mentally Unhealthy Days,% Low Birthweight,% Adults with Obesity,Food Environment Index,% With Access to Exercise Opportunities,...,Life Expectancy,Age-Adjusted Death Rate,% Adults with Diabetes,% Food Insecure,% Limited Access to Healthy Foods,% Insufficient Sleep,qol_avg,pop_avg,diet_avg,health_raw
2925,51610,Virginia,Falls Church City,1,1,1,1.0,1,NaN,1.0,...,1.0,1.0,1,1,NaN,5,0.433333,0.370000,0.18,0.983333
1323,27019,Minnesota,Carver,1,1,1,1.0,1,1.0,1.0,...,1.0,1.0,1,1,2.0,2,0.303333,0.370000,0.33,1.003333
228,6085,California,Santa Clara,1,1,1,3.0,1,1.0,1.0,...,1.0,1.0,2,1,1.0,3,0.346667,0.438519,0.30,1.085185
226,6081,California,San Mateo,1,1,1,3.0,1,1.0,1.0,...,1.0,1.0,2,1,1.0,3,0.346667,0.438519,0.30,1.085185
206,6041,California,Marin,1,1,2,1.0,1,1.0,1.0,...,1.0,1.0,1,2,2.0,2,0.346667,0.370000,0.39,1.106667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1463,28125,Mississippi,Sharkey,10,10,10,10.0,10,10.0,10.0,...,10.0,10.0,7,10,9.0,10,2.600000,3.645185,2.55,8.795185
1482,28163,Mississippi,Yazoo,10,10,9,10.0,10,10.0,10.0,...,10.0,10.0,10,10,10.0,9,2.513333,3.590370,2.70,8.803704
1426,28051,Mississippi,Holmes,10,10,10,10.0,10,10.0,10.0,...,10.0,10.0,10,10,10.0,10,2.600000,3.521852,2.70,8.821852
1467,28133,Mississippi,Sunflower,10,10,10,10.0,10,10.0,10.0,...,10.0,10.0,10,10,10.0,10,2.600000,3.556111,2.70,8.856111
1460,28119,Mississippi,Quitman,10,10,10,10.0,10,10.0,10.0,...,10.0,10.0,8,10,10.0,10,2.600000,3.645185,2.64,8.885185

In [26]:
health_full[health_full['County'].isin(['San Diego', 'Los Angeles', 'Ventura', 'St. Louis'])]

,FIPS,State,County,% Fair or Poor Health,Average Number of Physically Unhealthy Days,Average Number of Mentally Unhealthy Days,% Low Birthweight,% Adults with Obesity,Food Environment Index,% With Access to Exercise Opportunities,...,Life Expectancy,Age-Adjusted Death Rate,% Adults with Diabetes,% Food Insecure,% Limited Access to Healthy Foods,% Insufficient Sleep,qol_avg,pop_avg,diet_avg,health_raw
204,6037,California,Los Angeles,5,3,2,4.0,1,2.0,1.0,...,1.0,1.0,2,4,2.0,7,0.650000,1.171667,0.63,2.451667
222,6073,California,San Diego,3,3,2,3.0,1,2.0,1.0,...,1.0,1.0,1,3,3.0,5,0.563333,0.877037,0.60,2.040370
241,6111,California,Ventura,4,3,3,2.0,1,1.0,1.0,...,1.0,1.0,3,1,3.0,5,0.606667,1.000370,0.45,2.057037
1382,27137,Minnesota,St. Louis,2,2,2,3.0,2,5.0,3.0,...,4.0,3.0,3,4,7.0,4,0.736667,0.966111,1.26,2.962778
1578,29189,Missouri,St. Louis,5,5,5,8.0,2,5.0,1.0,...,5.0,4.0,5,7,5.0,4,0.736667,1.754074,1.38,3.870741

In [24]:
health = health_full[['FIPS', 'State', 'County', 'health_raw']]
health.head()

   FIPS    State   County  health_raw
0  1001  Alabama  Autauga    5.849259
1  1003  Alabama  Baldwin    4.415556
2  1005  Alabama  Barbour    7.939259
3  1007  Alabama     Bibb    6.975741
4  1009  Alabama   Blount    6.268704

In [25]:
health.to_csv('C:/Users/User/Documents/GitHub/AnotherTown/Data/Cleaned/Health_Scores.csv')