In [8]:
import pandas as pd
import numpy as np

#### change age to median age

In [3]:
safety = pd.read_csv('C:/Users/User/Documents/GitHub/AnotherTown/Data/Cleaned/Safety_Scores.csv', index_col=0)
health = pd.read_csv('C:/Users/User/Documents/GitHub/AnotherTown/Data/Cleaned/Health_Scores.csv', index_col=0)
demo = pd.read_csv('C:/Users/User/Documents/GitHub/AnotherTown/Data/Cleaned/Demo_Scores.csv', index_col=0)
economy =pd.read_csv('C:/Users/User/Documents/GitHub/AnotherTown/Data/Cleaned/Economy_Scores.csv', index_col=0)
col = pd.read_csv('C:/Users/User/Documents/GitHub/AnotherTown/Data/Cleaned/COL_Scores.csv', index_col=0)
political = pd.read_csv('C:/Users/User/Documents/GitHub/AnotherTown/Data/Cleaned/Political_raw.csv', index_col=0)

In [4]:
df = demo.copy(deep=True,)
df= df.merge(safety, on=['FIPS', 'State', 'County'], how='outer')
df= df.merge(health, on=['FIPS', 'State', 'County'])
df=df.merge(economy, on=['FIPS', 'State', 'County'])
df=df.merge(col, on=['FIPS', 'State', 'County'])
df=df.merge(political, on=['FIPS'])
df.head(3)
df['Total'] = df.iloc[:,7:].mean(axis = 1, skipna = True) 
# df[df['Population_bins'] > 8].sort_values(by=['Total'])

In [6]:
# weights = {'Safety_avg': 5, 'health_raw': 3, 'Economy Score': 8, 'col_scores': 8}
# df['Total'] = [mean([row[col]]*weights[col])  for i, row in df.iterrows() for col in list(weights.keys())]
df.head(3)

,FIPS,State,County,Population_bins,% 18 to 65,% Non-Hispanic White,Diversity,Safety_avg,health_raw,Economy Score,col_scores,political_party,Total
0,1001,Alabama,Autauga,5,8,4,5.00,4.627907,5.849259,4.182540,2.229167,7.823529,4.942480
1,1003,Alabama,Baldwin,7,5,5,5.25,4.348837,4.415556,3.182540,3.562500,9.176471,4.937181
2,1005,Alabama,Barbour,4,7,2,4.50,6.475000,7.939259,8.904762,2.395833,3.176471,5.778265

In [17]:
#  [np.mean([[row[col]]*weights[col] for col in list(weights.keys())]) for i, row in df.iterrows() ]
# {'Safety_avg': 5, 'health_raw': 3, 'Economy Score': 8, 'col_scores': 8}
from numpy import ma
w = np.array([5,3,8,15,20])
result = []
for i, row in df.iloc[:,7:-1].iterrows():
    row = np.ma.MaskedArray(row, mask=np.isnan(row))
    result.append(np.ma.average(row, weights=w))
df['Total'] = result
df.head(3)

,FIPS,State,County,Population_bins,% 18 to 65,% Non-Hispanic White,Diversity,Safety_avg,health_raw,Economy Score,col_scores,political_party,Total
0,1001,Alabama,Autauga,5,8,4,5.00,4.627907,5.849259,4.182540,2.229167,7.823529,5.177563
1,1003,Alabama,Baldwin,7,5,5,5.25,4.348837,4.415556,3.182540,3.562500,9.176471,5.831727
2,1005,Alabama,Barbour,4,7,2,4.50,6.475000,7.939259,8.904762,2.395833,3.176471,4.448976

In [18]:
df[df['Population_bins']>6].sort_values(by=['Total']).head(30)

,FIPS,State,County,Population_bins,% 18 to 65,% Non-Hispanic White,Diversity,Safety_avg,health_raw,Economy Score,col_scores,political_party,Total
2470,51059,Virginia,Fairfax,9,10,2,6.75,2.069767,1.400556,1.146825,4.666667,1.176471,2.299108
2451,51013,Virginia,Arlington,7,10,3,6.75,3.348837,1.338148,1.146825,4.687500,1.000000,2.357759
1649,36061,New York,New York,9,10,2,7.00,3.744186,2.275370,4.940476,NaN,1.000000,2.363079
2492,51107,Virginia,Loudoun,8,9,2,6.75,2.325581,1.196667,1.146825,4.687500,1.411765,2.410594
2512,51153,Virginia,Prince William,8,9,1,7.00,3.930233,2.313704,1.424603,4.645833,1.411765,2.664939
283,12011,Florida,Broward,9,9,1,7.25,5.302326,3.550926,3.750000,3.312500,1.000000,2.683371
324,12099,Florida,Palm Beach,9,4,2,6.75,6.209302,3.710000,3.472222,3.291667,1.235294,2.824219
1568,33015,New Hampshire,Rockingham,8,9,8,4.00,3.428571,1.661296,1.765873,4.000000,2.411765,2.833118
276,10003,Delaware,New Castle,8,9,2,6.75,7.581395,3.400185,3.420635,3.270833,1.000000,2.834022
1771,37183,North Carolina,Wake,9,10,2,6.75,2.720930,2.494259,2.210317,5.375000,1.411765,2.894711
215,8013,Colorado,Boulder,8,10,5,5.75,3.232558,1.559444,2.301587,6.020833,1.000000,2.932673
2484,51087,Virginia,Henrico,8,9,2,6.75,5.860465,2.772407,2.313492,4.437500,1.411765,2.959319
1986,41067,Oregon,Washington,8,10,3,6.00,2.883721,1.461481,2.825397,6.020833,1.000000,2.974877
323,12097,Florida,Osceola,8,9,1,6.75,5.139535,4.900185,5.194444,3.125000,1.176471,2.987416
2383,48453,Texas,Travis,9,10,2,7.00,4.627907,3.050000,2.587302,5.395833,1.000000,3.018146
1566,33011,New Hampshire,Hillsborough,8,10,6,5.75,5.200000,2.244444,1.765873,4.000000,2.411765,3.041090
1096,25017,Massachusetts,Middlesex,9,10,4,6.25,2.930233,1.236111,2.007937,6.729167,1.000000,3.046284
317,12086,Florida,Miami-Dade,10,10,1,6.75,5.488372,3.255370,5.583333,3.333333,1.176471,3.047138
310,12073,Florida,Leon,7,10,2,6.75,6.279070,4.504815,5.972222,3.062500,1.000000,3.110296
2588,53033,Washington,King,10,10,2,6.25,4.325581,1.440000,2.924603,5.979167,1.000000,3.118279
322,12095,Florida,Orange,9,10,1,7.25,6.511628,4.236481,4.472222,3.333333,1.411765,3.123150
333,12117,Florida,Seminole,8,10,2,6.75,5.441860,3.477963,2.527778,3.354167,2.588235,3.136130
278,12001,Florida,Alachua,7,10,3,6.75,5.837209,4.868519,5.694444,3.062500,1.235294,3.137069
2159,47037,Tennessee,Davidson,8,10,2,6.75,8.371429,5.098704,3.940476,3.312500,1.176471,3.174392
2568,51810,Virginia,Virginia Beach City,8,10,3,6.75,4.767442,1.970556,1.424603,4.666667,2.588235,3.194322
1098,25021,Massachusetts,Norfolk,8,9,4,5.75,2.953488,1.369444,2.007937,6.708333,1.411765,3.211756
212,8005,Colorado,Arapahoe,8,10,2,6.75,4.674419,1.823704,2.246032,6.041667,1.411765,3.248466
2031,42091,Pennsylvania,Montgomery,9,8,4,6.00,3.232558,1.679815,2.333333,6.708333,1.411765,3.308416
1428,29189,Missouri,St. Louis,9,7,3,5.75,7.883721,3.870741,2.948413,4.395833,1.411765,3.309626
2602,53061,Washington,Snohomish,9,10,3,6.00,3.976744,2.399444,2.869048,6.041667,1.411765,3.311661

In [25]:
df[df['State']=='New Hampshire'].sort_values(by=['Total']).head(30)

,FIPS,State,County,Population_bins,% 18 to 65,% Non-Hispanic White,Diversity,Safety_avg,health_raw,Economy Score,col_scores,political_party,Total
1565,33009,New Hampshire,Grafton,5,10,7,4.25,4.880000,2.040185,2.099206,3.520833,1.000000,2.355426
1563,33005,New Hampshire,Cheshire,5,9,9,3.25,4.771429,2.639630,2.376984,3.750000,1.000000,2.491018
1567,33013,New Hampshire,Merrimack,6,9,8,4.25,4.480000,1.854815,1.488095,3.500000,2.000000,2.595475
1570,33019,New Hampshire,Sullivan,4,7,9,3.00,4.960000,2.796667,2.710317,2.791667,2.000000,2.681324
1569,33017,New Hampshire,Strafford,6,10,7,4.25,4.942857,3.034815,1.821429,3.520833,2.000000,2.768680
1568,33015,New Hampshire,Rockingham,8,9,8,4.00,3.428571,1.661296,1.765873,4.000000,2.411765,2.833118
1562,33003,New Hampshire,Carroll,4,3,10,2.25,6.200000,2.250185,2.376984,2.791667,2.411765,2.879936
1566,33011,New Hampshire,Hillsborough,8,10,6,5.75,5.200000,2.244444,1.765873,4.000000,2.411765,3.041090
1561,33001,New Hampshire,Belknap,5,7,10,2.75,6.400000,2.414444,1.765873,3.312500,3.000000,3.197212
1564,33007,New Hampshire,Coos,4,7,9,2.50,6.040000,4.118704,5.321429,2.416667,2.588235,3.394946

In [12]:
counties = ['San Diego', 'Los Angeles', 'Ventura', 'Multnomah', 'Teton', 'St. Louis', 'New York', 'Orange']
df[df['County'].isin(counties)].sort_values(by=['Total'])

,FIPS,State,County,Population_bins,% 18 to 65,% Non-Hispanic White,Diversity,Safety_avg,health_raw,Economy Score,col_scores,political_party,Total
2742,56039,Wyoming,Teton,4,10,5,5.00,NaN,2.015556,1.785714,3.375000,1.235294,1.847135
1649,36061,New York,New York,9,10,2,7.00,3.744186,2.275370,4.940476,NaN,1.000000,2.363079
1748,37135,North Carolina,Orange,6,10,4,6.50,2.697674,2.867593,2.932540,5.375000,1.000000,2.467079
520,16081,Idaho,Teton,3,9,5,3.50,3.636364,2.026852,1.757937,4.000000,2.647059,2.801524
2439,50017,Vermont,Orange,4,8,10,2.25,2.969697,3.012778,2.380952,7.729167,1.000000,2.835631
1979,41051,Oregon,Multnomah,9,10,4,6.25,5.302326,2.859444,3.769841,5.979167,1.000000,3.024591
322,12095,Florida,Orange,9,10,1,7.25,6.511628,4.236481,4.472222,3.333333,1.411765,3.089712
1428,29189,Missouri,St. Louis,9,7,3,5.75,7.883721,3.870741,2.948413,4.395833,1.411765,3.136820
207,6111,California,Ventura,9,9,2,6.25,3.372093,2.057037,3.289683,8.083333,1.411765,3.232977
188,6073,California,San Diego,10,10,2,6.75,3.465116,2.040370,3.345238,8.062500,1.411765,3.248725
181,6059,California,Orange,10,10,1,6.25,3.000000,1.601852,2.789683,8.062500,2.588235,3.599721
170,6037,California,Los Angeles,10,10,1,7.00,4.348837,2.451667,5.734127,8.083333,1.000000,3.628156
2505,51137,Virginia,Orange,4,5,5,5.25,5.333333,4.045000,2.313492,4.000000,4.000000,3.847946
1253,27137,Minnesota,St. Louis,6,9,7,3.50,4.953488,2.962778,5.083333,9.479167,1.000000,3.867177
1654,36071,New York,Orange,8,8,3,6.50,3.372093,2.245556,3.884921,9.541667,2.764706,4.234181
1480,30099,Montana,Teton,2,1,8,2.50,NaN,4.081296,5.638889,2.166667,6.000000,4.992009
679,18117,Indiana,Orange,3,4,9,2.25,4.550000,5.181852,6.392857,3.583333,6.176471,5.491693
2356,48361,Texas,Orange,5,6,5,6.00,6.023256,6.716481,5.698413,4.895833,9.000000,7.159538

In [112]:
df[df['County'].isin(['Los Angeles'])]

,FIPS,State,County,Population_bins,% 18 to 65,% Non-Hispanic White,Diversity,Safety_avg,health_raw,Economy Score,col_scores,Total
170,6037,California,Los Angeles,10,10,1,7.0,4.348837,2.451667,5.73,8.083333,5.816911

In [113]:
df.shape

(2746, 12)

In [124]:
df[df['State'] == 'Arizona'].sort_values(by=['Total'])

,FIPS,State,County,Population_bins,% 18 to 65,% Non-Hispanic White,Diversity,Safety_avg,health_raw,Economy Score,col_scores,Total
78,4013,Arizona,Maricopa,10,8,2,6.75,6.139535,3.344259,4.19,5.416667,4.899324
82,4021,Arizona,Pinal,8,4,2,6.50,5.395349,4.665926,5.36,5.187500,5.223105
84,4025,Arizona,Yavapai,7,1,5,4.75,6.581395,4.565370,5.92,5.166667,5.637351
83,4023,Arizona,Santa Cruz,4,2,1,4.25,3.953488,4.690370,9.25,3.458333,5.646051
81,4019,Arizona,Pima,9,6,2,6.50,7.302326,3.806296,6.03,5.416667,5.812660
76,4009,Arizona,Graham,4,6,2,5.00,5.209302,6.237407,7.81,4.166667,5.857169
73,4003,Arizona,Cochise,6,3,2,6.25,6.558140,5.318333,6.81,4.687500,5.863571
74,4005,Arizona,Coconino,6,10,2,5.50,6.953488,4.639259,6.31,5.395833,5.930495
85,4027,Arizona,Yuma,7,3,1,5.75,5.674419,4.891111,8.31,4.875000,6.188559
79,4015,Arizona,Mohave,7,1,4,5.00,7.069767,6.944630,7.69,5.187500,6.633447
72,4001,Arizona,Apache,5,4,1,2.75,5.395349,8.445926,9.53,4.208333,6.759216
75,4007,Arizona,Gila,5,1,3,4.25,8.627907,6.302593,8.64,5.187500,7.194471
80,4017,Arizona,Navajo,6,2,1,4.00,7.279070,7.952778,9.25,4.875000,7.218903
77,4012,Arizona,La Paz,4,1,2,5.25,8.285714,7.155370,9.53,4.687500,7.359778