In [1]:
import pandas as pd

In [12]:
col = ['State', 'ST', 'Fips', 'County',
    'Republicans 2016', 'Democrats 2016',
    'Republicans 2012','Democrats 2012', 
    'Republicans 2008', 'Democrats 2008']
df = pd.read_csv('../Data/Politics/formatted-usa-2016-presidential-election-by-county.csv', usecols=col)
df.head(3)

,State,ST,Fips,County,Republicans 2016,Democrats 2016,Republicans 2012,Republicans 2008,Democrats 2012,Democrats 2008
0,Arkansas,AR,5087,"Madison County, Arkansas",72.001757,23.239127,64.905603,62.768647,31.957978,33.881163
1,Oregon,OR,41029,"Jackson County, Oregon",51.145112,41.960131,50.470003,48.534840,45.783356,48.581353
2,Maine,ME,23025,"Somerset County, Maine",57.755699,35.012323,47.605600,46.071124,49.283899,51.770324

In [13]:
df['2016']=pd.qcut(df['Republicans 2016'], 10, labels=[i for i in range(1,11)], duplicates='drop', )
df['2012']=pd.qcut(df['Republicans 2012'], 10, labels=[i for i in range(1,11)], duplicates='drop', )
df['2008']=pd.qcut(df['Republicans 2008'], 10, labels=[i for i in range(1,11)], duplicates='drop', )
df.head(3)

,State,ST,Fips,County,Republicans 2016,Democrats 2016,Republicans 2012,Republicans 2008,Democrats 2012,Democrats 2008,2016,2012,2008
0,Arkansas,AR,5087,"Madison County, Arkansas",72.001757,23.239127,64.905603,62.768647,31.957978,33.881163,7,7,7
1,Oregon,OR,41029,"Jackson County, Oregon",51.145112,41.960131,50.470003,48.534840,45.783356,48.581353,3,3,3
2,Maine,ME,23025,"Somerset County, Maine",57.755699,35.012323,47.605600,46.071124,49.283899,51.770324,4,2,3

In [15]:
df['party'] = [(row[-4]*10 + row[-3]*4 + row[-2]*3)/17 for i, row in df.iterrows()]
df.head(3)

,State,ST,Fips,County,Republicans 2016,Democrats 2016,Republicans 2012,Republicans 2008,Democrats 2012,Democrats 2008,2016,2012,2008,party
0,Arkansas,AR,5087,"Madison County, Arkansas",72.001757,23.239127,64.905603,62.768647,31.957978,33.881163,7,7,7,7.000000
1,Oregon,OR,41029,"Jackson County, Oregon",51.145112,41.960131,50.470003,48.534840,45.783356,48.581353,3,3,3,3.000000
2,Maine,ME,23025,"Somerset County, Maine",57.755699,35.012323,47.605600,46.071124,49.283899,51.770324,4,2,3,3.352941

In [22]:
df[df['Fips'] == 56039]

,State,ST,Fips,County,Republicans 2016,Democrats 2016,Republicans 2012,Republicans 2008,Democrats 2012,Democrats 2008,2016,2012,2008,party
1010,Wyoming,WY,56039,"Teton County, Wyoming",32.194481,60.060775,42.376134,37.065606,54.195743,60.669048,1,2,1,1.235294

In [19]:
df2 = pd.DataFrame(df['Fips'])
df2.columns = ['FIPS']
df2['political_party'] = df['party']
df2.to_csv('../Data/Cleaned/Political_raw.csv')

In [20]:
df2

       FIPS  political_party
0      5087         7.000000
1     41029         3.000000
2     23025         3.352941
3     28005         4.411765
4     46043         9.823529
...     ...              ...
3138  51027         7.647059
3139  51630         1.000000
3140  20095         8.411765
3141  36027         2.000000
3142  27141         5.176471

[3143 rows x 2 columns]