In [1]:
import pandas as pd
import numpy as np

In [14]:
health_full = pd.read_csv('C:/Users/User/Documents/GitHub/AnotherTown/Data/Cleaned/Health_Full.csv')

In [15]:
qol_cols = {'Average Number of Physically Unhealthy Days' : .2, 
            'Average Number of Mentally Unhealthy Days' : .2,
           '% Insufficient Sleep': .2, 
            '% With Access to Exercise Opportunities': .4}

pop_cols = {'% Fair or Poor Health': .22, 
            '% Low Birthweight' : .14, 
            'Teen Birth Rate' : .08, 
            '% Uninsured' : .18, 
            'Life Expectancy': .22,
           'Age-Adjusted Death Rate': .16}

diet_cols = {'% Adults with Obesity': .16, 
             'Food Environment Index': .25, 
             '% Adults with Diabetes': .16, 
            '% Food Insecure': .21, 
             '% Limited Access to Healthy Foods': .22}

In [17]:
qol = sum([health_full[col].dropna() * qol_cols[col] for col in qol_cols]) * .26
pop = sum([health_full[col].dropna() * pop_cols[col] for col in pop_cols]) * .37
diet = sum([health_full[col].dropna() * diet_cols[col] for col in diet_cols]) * .37

In [20]:
health_full['health_raw'] =  qol.fillna(0) + pop.fillna(0) + diet.fillna(0)

In [21]:
health_full.sort_values(by=['health_raw'])

,FIPS,State,County,% Fair or Poor Health,Average Number of Physically Unhealthy Days,Average Number of Mentally Unhealthy Days,% Low Birthweight,% Adults with Obesity,Food Environment Index,% With Access to Exercise Opportunities,Teen Birth Rate,% Uninsured,Life Expectancy,Age-Adjusted Death Rate,% Adults with Diabetes,% Food Insecure,% Limited Access to Healthy Foods,% Insufficient Sleep,health_raw
87,2195,Alaska,Petersburg,1,2,1,NaN,1,2.0,NaN,NaN,9.0,3.0,3.0,2,5,1.0,2,0.8325
2925,51610,Virginia,Falls Church City,1,1,1,1.0,1,NaN,1.0,1.0,1.0,1.0,1.0,1,1,NaN,5,0.8380
268,8047,Colorado,Gilpin,1,1,1,10.0,2,1.0,3.0,NaN,1.0,1.0,1.0,1,1,1.0,1,0.8972
284,8079,Colorado,Mineral,1,2,3,NaN,1,2.0,1.0,NaN,5.0,NaN,NaN,1,2,3.0,1,1.1190
1323,27019,Minnesota,Carver,1,1,1,1.0,1,1.0,1.0,1.0,1.0,1.0,1.0,1,1,2.0,2,1.1334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1463,28125,Mississippi,Sharkey,10,10,10,10.0,10,10.0,10.0,10.0,9.0,10.0,10.0,7,10,9.0,10,9.6744
1482,28163,Mississippi,Yazoo,10,10,9,10.0,10,10.0,10.0,10.0,8.0,10.0,10.0,10,10,10.0,9,9.7628
1426,28051,Mississippi,Holmes,10,10,10,10.0,10,10.0,10.0,8.0,8.0,10.0,10.0,10,10,10.0,10,9.8076
1460,28119,Mississippi,Quitman,10,10,10,10.0,10,10.0,10.0,10.0,9.0,10.0,10.0,8,10,10.0,10,9.8150
1467,28133,Mississippi,Sunflower,10,10,10,10.0,10,10.0,10.0,9.0,8.0,10.0,10.0,10,10,10.0,10,9.8372

In [33]:
health_full[health_full['County'].isin(['San Diego', 'Los Angeles', 'Ventura'])]

,FIPS,State,County,% Fair or Poor Health,Average Number of Physically Unhealthy Days,Average Number of Mentally Unhealthy Days,% Low Birthweight,% Adults with Obesity,Food Environment Index,% With Access to Exercise Opportunities,Teen Birth Rate,% Uninsured,Life Expectancy,Age-Adjusted Death Rate,% Adults with Diabetes,% Food Insecure,% Limited Access to Healthy Foods,% Insufficient Sleep,health_raw
204,6037,California,Los Angeles,5,3,2,4.0,1,2.0,1.0,3.0,5.0,1.0,1.0,2,4,2.0,7,2.7408
222,6073,California,San Diego,3,3,2,3.0,1,2.0,1.0,3.0,4.0,1.0,1.0,1,3,3.0,5,2.3001
241,6111,California,Ventura,4,3,3,2.0,1,1.0,1.0,3.0,5.0,1.0,1.0,3,1,3.0,5,2.3188

In [34]:
health = health_full[['FIPS', 'State', 'County', 'health_raw']]
health.head()

   FIPS    State   County  health_raw
0  1001  Alabama  Autauga      6.5079
1  1003  Alabama  Baldwin      4.9264
2  1005  Alabama  Barbour      8.9258
3  1007  Alabama     Bibb      7.6090
4  1009  Alabama   Blount      6.7099

In [35]:
health.to_csv('C:/Users/User/Documents/GitHub/AnotherTown/Data/Cleaned/Health_Scores.csv')